body {
	font-family: monospace;
	color: #333;
}


h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

/*Flex Item*/
.item {
    flex: 1;
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

.item-2{
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

.item-3{
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

/*propriedade display:flex*/
.flex {
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.row {
	flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

.row-nowrap{
    flex-flow: row nowrap;
}

.row-wrap {
    flex-flow: row wrap;
}

.column-nowrap{
    flex-flow: column nowrap;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.stretch {
    align-items: stretch;
}

.flex-start{
    align-items: flex-start;
}

.flex-end{
    align-items: flex-end;
}

.center{
    align-items: center;
}

.baseline {
    align-items: baseline;
}

.column {
    flex-direction: column;
}

.stretch-align-content{
    align-content: stretch;

}

.flex-start-align-content{
    align-content: flex-start;
}

.grow0 {
	flex-grow: 0;
}


.grow1 {
	flex-grow: 1;
}

.grow2 {
	flex-grow: 2;
}

.basis-auto {
    flex-grow: 1;
    flex-basis: auto;
}

.basis-auto-grow-2 {
    flex-grow: 2;
    flex-basis: auto;
}

.basis-auto-width {
    flex-grow: 1;
    flex-basis: auto;
    width: 60px;
}

.basis-auto-grow-0{
    flex-basis: auto;
}
 
.order1{
    order: 1;
}

.order2{
    order: 2;
}

.order3{
    order: 3;
}

.order4{
    order: 4;
}
